<!DOCTYPE html>
<html ng-app="mosura">
  <head>
    <meta charset="utf-8"></meta>
    <title>mosura</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div ng-view class="main-view">
      Loading main view ;)
    </div>

    <script src="/javascripts/external/angular.js"></script>
    <script src="/javascripts/external/angular-route.js"></script>
    <script src="/javascripts/external/angular-resource.js"></script>
    <script src="/javascripts/external/angular-cookies.js"></script>
    <script src="/javascripts/external/angular-local-storage.js"></script>

    <script src="/javascripts/mosura/app.js"></script>
  </body>
</html>
