body, html {
  padding: 0;
  margin: 0;
  height: -webkit-calc(100%);
  height: calc(100%);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body, body *, html, html * {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

.column {
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
  height: -webkit-calc(100%);
  height: calc(100%);
}
.column + .column {
  border-left: solid 1em #ff00ff;
}

.column-header {
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  padding: 0.3em 0 1em;
}

.sticky-list {
  padding: 0 0 0 0;
  display: block;
  margin: 0;
}

.sticky-id {
  font-weight: bolder;
  font-size: 2em;
  display: block;
  margin: 0;
  padding: 0.5em 0;
}

.sticky-summary {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.sticky {
  box-shadow: #000 1px 6px 12px -3px;
  display: block;
  height: 13em;
  width: -webkit-calc(80%);
  width: calc(80%);
  margin: 0 auto;
  padding: 0.5em;
  background: #ffffcc;
}
.sticky:nth-child(2n) {
  transform: rotate(3deg) translate3d(0, 0, 0);
}
.sticky:nth-child(2n + 1) {
  transform: rotate(5deg) translate3d(0, 0, 0);
}
.sticky:nth-child(2n + 2) {
  transform: rotate(-2deg) translate3d(0, 0, 0);
}
.sticky + .sticky {
  margin-top: 2em;
}

.sticky .Story, .Story {
  background: #ffffbb;
}

.sticky .Bug, .Bug {
  background: #ffaaaa;
}
